<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Create Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="createPasswordForm"
    class="ion-flex-column gap-16 ion-justify-content-between hp-100"
  >
    <div class="ion-flex-column gap-16">
      <app-input formControlName="password" label="Password" type="password" />
      <app-input formControlName="confirmPassword" label="Confirm Password" type="password" />

      @if (createPasswordForm.errors?.['passwordMismatch'] && createPasswordForm.touched) {
        <ion-note color="danger" class="fs-12 ion-flex-row gap-5 ion-align-items-center">
          <ion-icon name="alert-circle-outline" class="fs-14" />
          Passwords do not match
        </ion-note>
      }
    </div>

    <app-button label="Create Password" type="submit" [loading]="isLoading()" />
  </form>
</ion-content>
