<div class="form-input">
  @if (label()) {
    <ion-label>
      {{ label() }}
      @if (isRequired()) {
        <span style="color: var(--ion-color-danger)"> *</span>
      }
    </ion-label>
  }

  <ion-select
    (ionBlur)="onBlur()"
    (ionChange)="onSelect($event)"
    [class.error]="hasError()"
    [disabled]="isDisabled()"
    [value]="value()"
    [multiple]="multiple()"
    labelPlacement="stacked"
  >
    @for (opt of options(); track opt.value) {
      <ion-select-option [value]="opt.value">
        {{ opt.label }}
      </ion-select-option>
    }
  </ion-select>

  @if (hasError()) {
    <ion-note color="danger"> <ion-icon name="alert-circle-outline" />{{ errorMessage() }}</ion-note>
  }
</div>
