<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content />
  </ion-refresher>

  @if (isLoading()) {
    <brand-profile-card-skeleton />

    <app-overview-card-skeleton class="mt-4" />

    <app-active-campaigns-skeleton class="mt-4" />

    <app-recent-applications-skeleton class="mt-4" />
  } @else if (home(); as home) {
    <brand-profile-card [profile]="home.profile"></brand-profile-card>

    <app-overview-card class="mt-4" [overview]="home.overview"> </app-overview-card>

    <app-active-campaigns
      class="mt-4"
      [campaigns]="home.activeCampaigns"
      (campaignSelected)="openCampaign($event)"
      (viewAll)="viewAllCampaigns()"
    >
    </app-active-campaigns>

    <app-recent-applications
      class="mt-4"
      [applications]="home.recentApplications"
      (applicationSelected)="openCampaign($event)"
      (viewAll)="viewAllApplications()"
    >
    </app-recent-applications>
  }
</ion-content>
