<ion-button
  [class.fs-24]="iconOnly()"
  [class.icon-only]="iconOnly()"
  [class.is-loading]="loading()"
  [color]="color()"
  [disabled]="isDisabled()"
  [expand]="expand()"
  [fill]="ionFill()"
  [shape]="shape()"
  [type]="type()"
  class="ion-no-margin h-44 fs-15 fw-500"
>
  @if (loading()) {
    @if (iconOnly()) {
      <ion-spinner class="w-16 h-16" name="crescent" aria-hidden="true" />
    } @else {
      <ion-spinner class="w-16 h-16" name="crescent" slot="start" aria-hidden="true" />
    }
  } @else if (iconStart()) {
    @if (iconOnly()) {
      <ion-icon [name]="iconStart()" aria-hidden="true" />
    } @else {
      <ion-icon [name]="iconStart()" slot="start" aria-hidden="true" />
    }
  }

  @if (!iconOnly()) {
    <span>{{ label() }}</span>
  }

  @if (!loading() && iconEnd() && !iconOnly()) {
    <ion-icon [name]="iconEnd()" slot="end" aria-hidden="true" />
  }
</ion-button>
