ion-button {
  --border-radius: 8px;
}

ion-button.icon-only {
  --padding-start: 0;
  --padding-end: 0;
  width: 44px;
}

ion-button.is-loading {
  opacity: 0.85;

  ion-spinner {
    --color: currentColor;
  }
}
