<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ isEditMode() ? 'Edit Profile' : 'Create Profile' }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="ion-flex-column gap-24">
    <div class="ion-flex-column gap-16">
      <ion-label color="medium"> Basic Information </ion-label>
      <app-text-area label="Bio" formControlName="bio" />
      <app-select [options]="nicheOptions" [multiple]="true" label="Niche" formControlName="niche" />
      <app-select [options]="countryOptions" label="Country" formControlName="country" />
    </div>

    <div class="ion-flex-column gap-12">
      <ion-label color="medium"> Social Links </ion-label>
      @if (profileForm.get('instagram.token')?.value || profileForm.get('instagram.username')?.value) {
        <div formGroupName="instagram" class="ion-flex-row gap-16 ion-align-items-center">
          <app-input label="Instagram" type="text" formControlName="username" class="wp-100" />
          <app-input label="Followers" type="number" inputMode="numeric" formControlName="followers" />
          @if (isEditMode()) {
            <app-button iconStart="refresh-outline" type="button" (click)="refreshInstagramFollowers()" fill="ghost" />
          }
        </div>
      } @else {
        <app-button
          (click)="connectInstagram()"
          [iconOnly]="true"
          fill="outline"
          iconStart="logo-instagram"
          type="button"
        />
      }

      <div formGroupName="twitter" class="ion-flex-row gap-16">
        <app-input label="X (Twitter)" type="text" formControlName="username" class="wp-100" />
        <app-input label="Followers" type="number" inputMode="numeric" formControlName="followers" />
      </div>

      <div formGroupName="youtube" class="ion-flex-row gap-16">
        <app-input label="Youtube" type="text" formControlName="username" class="wp-100" />
        <app-input label="Followers" type="number" inputMode="numeric" formControlName="followers" />
      </div>
    </div>

    <div class="ion-flex-column gap-12">
      <ion-label color="medium"> Past Works (URL) </ion-label>

      <div class="ion-flex-column gap-16">
        <div formArrayName="pastWorks" class="ion-flex-column gap-16">
          @for (control of pastWorks.controls; track control) {
            <div class="ion-flex-row gap-16">
              <app-input [formControlName]="$index" type="url" placeholder="https://..." class="wp-100" />

              @if (pastWorks.length > 1) {
                <app-button
                  (click)="removePastWork($index)"
                  [iconOnly]="true"
                  color="danger"
                  iconStart="trash-bin-outline"
                  type="button"
                />
              }
            </div>
          }
        </div>

        <app-button (click)="addPastWork()" fill="outline" label="Add Past Work" type="button" />
      </div>
    </div>

    <div class="ion-flex-column gap-12">
      <ion-label color="medium"> Contact Information </ion-label>
      <div class="ion-flex-row gap-16">
        <app-input class="wp-100" label="First Name" formControlName="firstName" />
        <app-input class="wp-100" label="Last Name" formControlName="lastName" />
      </div>
      <app-input label="Email" formControlName="email" />
    </div>

    <app-button [label]="isEditMode() ? 'Update Profile' : 'Create Profile'" type="submit" [loading]="isLoading()" />
  </form>
</ion-content>
