<div class="form-input">
  <ion-checkbox
    (ionChange)="onChange($event)"
    [checked]="value()"
    [class.error]="hasError()"
    [disabled]="isDisabled()"
    justify="start"
    labelPlacement="end"
  >
    @if (label()) {
      <ion-label>
        {{ label() }}
        @if (isRequired()) {
          <span aria-hidden="true"> *</span>
        }
      </ion-label>
    }
  </ion-checkbox>

  @if (hasError()) {
    <ion-note color="danger" role="alert">
      <ion-icon name="alert-circle-outline" />
      {{ errorMessage() }}
    </ion-note>
  }
</div>
